In [1]:
print("Decision Tree")
#Entropy : measure of randomness
#Information Gain : measure of decrease in entropy after the dataset is split
#Gini Index : measure of impurity in a dataset
#Gini Index = 1 - (probability of class 1)^2 - (probability of class 2)^2
#Gini Index = 0 for a pure dataset
#Gini Index = 0.5 for a completely random dataset
#Gini Index = 0.5 for a dataset with 2 classes with equal probability
#Gini Index = 0.66 for a dataset with 3 classes with probability 0.5, 0.25 and 0.25

Decision Tree

In [2]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
# dividing the dataset into independent variable and dependent variable (target variable)
# declaring input for independent variable
input = df.drop('salary_more_then_100k',axis='columns')

# declaring target for dependent variable
target = df['salary_more_then_100k']

In [5]:
input.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [6]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [7]:
#machine learning can understand only the numbers, so converting the ext data into
#numeric using encoder(LabelEncoder)
from sklearn.preprocessing import LabelEncoder

In [8]:
#we have three feature so create three objects
label_company = LabelEncoder()
label_job = LabelEncoder()
label_degree = LabelEncoder()

In [10]:
#creating a new colum in our dataset using fit transform to store the numeric data
#fit_transform is used to fit and transform the data

input['company_n'] = label_company.fit_transform(input['company'])
input['job_n'] = label_job.fit_transform(input['job'])
input['degree_n'] = label_degree.fit_transform(input['degree'])

In [13]:
input
#in this transformed data google is encoded as 2, abc pharm is encoded as 0,
#facebook is encoded as 1,
#sales executive is encoded as 2,bachelor is encoded as 0, masters as 1 an so on..

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [12]:
#droping all the unwanted colum(colum which is transformed to numeric data)
input_n = input.drop(['company','job','degree'],axis='columns')
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [14]:
#kow we are going to train our classifier
#we are using decision tree classifier
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(input_n,target)

DecisionTreeClassifier()

In [15]:
model.score(input_n,target)

1.0

In [17]:
model.predict([[2,2,1]])
#predicting using encoded number
#2 is facebook, 2 is sales executive, 1 is masters
#output is 0 which means salary is not more than 100k

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [18]:
model.predict([[2,0,1]])
#output is 1 which means salary is more than 100k

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)